# ===== Geral =====
.DS_Store
Thumbs.db
*.log

.env
.env.*
!.env.example

# ===== Frontend (Vue) =====
node_modules/
dist/
.vite/
.cache/

# ===== Backend (FastAPI) =====
__pycache__/
*.py[cod]
venv/
.venv/
.pytest_cache/
.coverage

# ===== Banco =====
*.db
*.sqlite3
*.sql

# ===== Tauri =====
src-tauri/target/
src-tauri/gen/
*.exe
*.msi
*.dmg
*.app

# ===== IDE =====
.vscode/
.idea/